a:link{
    background-color: transparent;
    color:black;
    text-decoration: none;
}

a:visited{
    background-color: transparent;
    color:black;
    text-decoration: none;
}

a:active{
    background-color: transparent;
    color:black;
    text-decoration:none;
}

form {
     width: 100%;
 	 background: white;
  	 margin: 0 auto;
	}



