<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.bbs.mybatis.BbsMybatisMapper">

<insert id="save" useGeneratedKeys="true" keyProperty="id">
	insert into bbs(title, text, author,time, views) 
	values(#{title}, #{text}, #{author}, #{time},#{views})
</insert>

<update id= "update">
update bbs set title=#{bbsData.title}, text=#{bbsData.text}, time=#{bbsData.time} 
<where>
	<if test="id != null">
		id = #{id}
	</if>
</where>
</update>

<update id= "updateViews">
update bbs set views= #{views}
<where>
	<if test="id != null">
		id = #{id}
	</if>
</where>

</update>

<select id="findById" resultType="BbsData">
select * from bbs
<where>
	<if test="id != null">
		id = #{id}
	</if>
</where>
</select> 

<select id="searchByTitle" resultType="BbsData">
	select * from bbs
	<where>		
		<if test = "title != null or title !=''">
			title like concat('%',#{title},'%') 			 	
		</if>			
	</where>
</select>


<select id="findAll" resultType="BbsData">
	select * from bbs
		
</select>

<delete id="remove">
	delete from bbs
	<where>
		<if test="id != null">
			 id = #{id} 
		</if>
	</where>
</delete>



</mapper>